/* You can add global styles to this file, and also import other style files */
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1272px;
}

.card-img, .card-img-bottom, .card-img-top {
    max-width: 100%;
    height: 200px;
}

.card-body {
    height: 30vh;
}

.col-sm-1 {
    margin-bottom: 50px;
}


.card-title {
    max-height: 95px;
    min-height: 95px;
    overflow: hidden;
}

p {
    overflow: hidden;
    height: 90px;
}

ul{

        text-decoration: none;
        list-style: none;
}

ul li{
    padding-right: 10px ;
}

a:hover{
    opacity: 70%;
}

.sourceName{
    text-align: center;
    color: #007bff;
}

.customPrimary {
    margin-left: 10px;
}

.navbar-expand-lg {
    justify-content: space-between;
}

.sloganTitle{
    text-align: center;
    margin-top: 3vh;
}

.buttonContainer{
    text-align: center;
    margin-top: 2vh;
}

.centerClass{
    text-align: center;
}

.searchContainer{
    margin-top: 3vh;
}
.customCard{
    max-height: 100%;
    min-height: 0%;
    overflow: hidden;
}

.allInformationsTitle{
    margin-top: 82px;
}